@charset "UTF-8";

/* 초기화 태그 */

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 1rem;
}

ul, li {
	list-style: none; 
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}



/* 공통 jsp */

body {
	background-color: #f3f4f7;
}

.wrap {
	max-width: 1200px;
	margin: 0 auto;
}

.wrap .container h1 {
	margin: 1.5rem 0 1rem 0;
}

.bt_wrap {
	margin-top: 1.8rem;
	margin-bottom: 1.8rem;
	text-align: center;
	font-size: 0;
}

.bt_wrap a {
	display: inline-block;
	min-width: 1.5vw;
	padding: 0.5rem 2rem;
	border-radius: 0.5rem;
	color: white;
	font-size: 1.1rem;
	text-align: center;
	background-color: #48a9c5;
}

.bt_wrap a:not(:first-child) {
	margin-left: 0.5rem;
}

.bt_wrap a:hover {
	background-color: #0085ad;
}

.bt_wrap .delete, 
.bt_wrap .cancle {
	background-color: #ff4f81;
}

.bt_wrap .delete:hover,
.bt_wrap .cancle:hover {
	background-color: #ea1d5d;
}

/* .bt_wrap a.on { 
	background: #000;
	color: #fff;
} */



/* index.jsp */

.wrap_index .customer_search {
	padding-top: 2rem;
	padding-right: 1.6rem;
}

.wrap_index .customer_search input {
	font-size: 1.1rem;	
}

.wrap_index .customer_search input::placeholder {
	color: #aeb6b8;
}

.wrap_index .customer_search button {
	border: none;
	font-size: 1.1rem;	
	color: white;
	background-color: #0085ad;
}

.wrap_index .customer_search #button-addon2 {
	width: 4.7rem;
}

.customer_list {
	width: 100%;
	border-top: 1px solid #aeb6b8;
	border-collapse: collapse;
}

.customer_list th {
	padding: 0.6rem;
	border-bottom: 1px solid #aeb6b8;
	text-align: center;
	font-size: 1.1rem;
	background-color: #e3f1f8;
}

.customer_list td {
	padding: 0.6rem;
	border-bottom: 1px dotted #d7dcdd;
	font-size: 1rem;
	text-align: center;
	background-color: #fafafa;
}

.customer_list td.list__name {
	color: #2292a7;	
}

.customer_list td.list__name a:hover {
	font-weight: bold;
}

.customer_list td.list__management a {
	padding: 0 0.7rem;
}


.bt_page {
	margin-top: 1.2rem;
	text-align: center;
	display: flex;
	justify-content: center;
}

.bt_page a {
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	box-sizing: border-box;
	line-height: 1.5rem;
	color: gray;
}

.bt_page a:hover {
	text-decoration: underline;
}

.bt_page a.bt {
	font-size: 0.8rem;
	letter-spacing: -1px;
}

.bt_page a.num {
	font-size: 1rem;
}

.bt_page a.num.on {
	border-color: #8db9ca;
	border-radius: 1rem;
	color: #fff;
	background: #8db9ca;
}



/* view.jsp */

.wrap_view .card {
	margin-top: 2.2rem;
	background-color: #fafafa;
}

.info_details1 {
	min-height: 6rem;
	line-height: 6rem;
	padding-left: 3rem;
}

.info_details1:not(:last-child) {
	border-bottom: 1px dotted #d7dcdd;
}

.info_details1 dt {
	font-size: 1.1rem;
}

.info_details1 dd {
	font-size: 1.2rem;
}

.info_details2 {
	height: 5rem;
	margin: 3rem 0 3rem 0;
}

.info_details2 dt {
	color: #2292a7;	
	font-size: 1.1rem;	
	background-color: #e3f1f8;
	padding: 0.5rem 0;
}

.info_details2 dd {
	font-size: 1.2rem;	
	background-color: #fafafa;
	padding: 0.5rem 0;
}



/* register.jsp, edit.jsp */

.wrap_write .col-md-9 {
	margin-top: 2rem;
}

.wrap_write .col-md-9 .row {
	min-height: 3.3rem;
}

.wrap_write .col-md-9 label:not(.form-check-label) {
	font-size: 1.1rem;	
	font-weight: bold;
}

.wrap_write .col-md-9 .frm_required {
	color: #2292a7;	
}

.wrap_write .col-md-9 input:not(#inputFile),
.wrap_write .col-md-9 .form-check-label,
.wrap_write .col-md-9 .form-select {
	font-size: 1.2rem;	
}

.wrap_write .col-md-9 .form-check {
	padding-top: 0.5rem;
}

.wrap_write .col-md-9 #inputFile {
	padding-top: 0.3rem;
	font-size: 1.1rem;
	color: gray;
}

.wrap_write.col-md-9 input::placeholder {
	color: #aeb6b8;
}
